:root {
  --primary-color: rgb(16, 0, 43);
  --secondary-color: rgb(207, 40, 47);
  
} 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  
}

#menu {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid var(--primary-color);
  
  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  
  img{
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  
  h1{
    font-size: 14px;
    color: var(--primary-color)
    }
}
}


.login-section {
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    
    .login-container {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    
    h2 {
    text-align: center;
    margin-bottom: 20px;
    }
    
    label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius: 4px;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
        background-color: rgb(10, 0, 27);
        }
    }
}
}

footer{
    display: grid;
    place-content: center;
    height: 40px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
}
    
  
