:root {
  --primary-color: rgb(16, 0, 43);
  --secondary-color: rgb(207, 40, 47);
  
} 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--primary-color);
  background-color: #fff;;
  
  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  
  img{
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  
  h1{
    font-size: 14px;
    color: var(--primary-color)
    }

    a{
      margin-left: auto;
      text-decoration: none;
      font-size: 16px;
      color: white;
      background-color: var(--secondary-color);
      padding: 10px 20px;
      border-radius: 30px;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out;
      margin-right: 20px;
    }
}
}


main {

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f3f4f6;
  min-height: 100vh;
  margin-top: 50px;

  section {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h3 {
      margin-top: 0;
      color: var(--primary-color);
      border-bottom: 2px solid #eee;
      padding-bottom: 8px;
    }
  }

  
    
  .graficas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  

  .grafica {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 5px;
      color: var(--primary-color);
      text-align: center;
    }

    canvas {
      width: 100%;
      height: 200px;
      background-color: #f9fafb;
      border: 1px solid #e5e7eb;
      border-radius: 10px;
    }
  }
}

  

  .estado-sensor {
    padding-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;          
  

  .estado {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 8px 0;
      }
    }
  }

  .sensores {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    

    .sensor {
      flex: auto;       
      width: 200px;
      height: 60px;
      background-color: rgb(192, 191, 204);
      padding: 15px;
      border-radius: 8px;
      text-align: start;
      font-weight: bold;
      border: 1px solid rgba(128, 126, 152);
      color: var(--primary-color);
    }
  }
}


.botones {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    button {
      width: 200px;
      height: 60px;
      background-color: var(--secondary-color);
      color: white;
      border: none;
      padding: 12px 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: rgb(150, 0, 30);
      }

      &#btnReiniciar {
        background-color: var(--primary-color);

        &:hover {
          background-color: rgb(10, 0, 27);
        }
      }
    }
  
  }




}
  


footer{
    display: grid;
    place-content: center;
    height: 40px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
}